{#{{ form_start(form, {'attr': {'class': 'ajax cart_add cart_update'}}) }}#}
{#{{ form_widget(form) }}#}
{#<button type="submit" class="btn btn-to-cart" title="">#}
    {#<span class="icon icons-basket-green"></span>#}
    {#<span class="icon icon_hover icons-basket-white"></span>#}
{#</button>#}
{#{{ form_end(form) }}#}
<button type="submit">Добавить в корзину</button>
