{{ form_start(form, {'attr': {'class': 'table-cart__form-count cart_count_change cart_update'} }) }}
<div class="minus button_change_count_cart"></div>
{{ form_widget(form.count, { attr: { class: 'cart-counter__input' } }) }}
<div class="plus button_change_count_cart"></div>
{{ form_end(form) }}
