{% extends '::layout.html.twig' %}

{% import 'DarvinContentBundle::macros.html.twig' as darvin_content %}

{% block meta %}{{ darvin_content.meta_tags(page.metaDescription, page.metaKeywords) }}{% endblock %}

{% block title %}{{ darvin_content.meta_title(page.metaTitle) }}{% endblock %}

{% block body_class %}home_page{% endblock %}

{% block block_for_inner_page %}{% endblock %}

{% block block_for_home_page %}
    <div class="h1_container container">
        <div class="h1 cf">
            <div class="text">
                <h1>Вода питьевая Бочковая</h1>
                <img src="i{{ asset('assets/images/h1.png') }}" style="width:280px; height:280px;float: right; margin-left: 40px; margin-top: -68px;" alt="">
                <p>Мы предоставляем Вам <a href="">продукцию нашей компании</a> — природную минеральную воду бочковая в бутылях 19 литров. Эта уникальная живая питьевая вода из чистейших источников Мещерского края, воспетого классиками русской литературы. Вода добывается с глубины 70 метров из артезианской скважины находящейся на окраине г. Судогда - это экологически чистый район Владимирской области. Постоянные наблюдения воды в течении последних 10 лет показывают высокую  стабильность химического состава и бактериологической безопасности. Весь технологический процесс - добыча, розлив, <a href="">доставка воды потребителю</a> — осуществляется сотрудниками нашей компании. Именно поэтому мы гарантируем: БОЧКОВАЯ питьевая вода — отменного качества!</p>
            </div>
        </div>
    </div>
    <div class="publication_container container">
        <div class="publication cf">
            <div class="item news">
                <div class="content">
                    <p class="p_title">Новости</p>
                    <div class="content">
                        <div class="item">
                            <div class="header">
                                <div class="date">28 дек 2016</div>
                                <a href="">У жажды - вкус смерти</a>
                            </div>
                            <div class="annotation">О воде много говорилось, но мало сказано. Потому фраза «Вода - это жизнь» в настоящее время для многих из нас ровно ничего не значит. А много ли мы о ней знаем, чтобы так беспечно к ней относиться?</div>
                        </div>
                        <div class="item">
                            <div class="header">
                                <div class="date">27 дек 2016</div>
                                <a href="">Источник здоровья и бодрости</a>
                            </div>
                            <div class="annotation">Испокон века на Руси к воде относились как к чуду природы - благоговейно и трепетно. Совсем не случайно в русских народных сказках упоминается волшебная сила «живой воды», с помощью которой их герои возрождались заново.</div>
                        </div>
                    </div>
                    <div class="link">
                        <a href="">Перейти ко всем новостям</a>
                    </div>

                </div>
            </div>
            <div class="item articles">
                <div class="content">
                    <p class="p_title">Статьи</p>
                    <div class="content">
                        <div class="item">
                            <div class="header">
                                <a href="">Зачем нужна чистка кулера</a>
                            </div>
                            <div class="annotation">В процессе эксплуатации кулера ввиду большого количества воды и тепла на стенках баков, соединительных трубках и краниках образуется биопленка. Биоплёнка — множество микроорганизмов, расположенных на поверхности.</div>
                        </div>
                        <div class="item">
                            <div class="header">
                                <a href="">Обзорная статья о видах питьевой воды</a>
                            </div>
                            <div class="annotation">Классификации питьевой воды, ее химический состав, процесс водоподготовки, гигиенические требования и другая полезная информация.</div>
                        </div>
                    </div>
                    <div class="link">
                        <a href="">Перейти ко всем статьям</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="h2_container container">
        <div class="h2 cf">
            <div class="text">
                <img src="{{ asset('assets/images/h2.png') }}" style="width:280px; height:280px;float: left; margin-right: 40px;" alt="">
                <h2>Доставка воды</h2>
                <p>Бутилированная питьевая вода в офис и кулер для воды - это удобно и эстетично. Установить кулер для воды в офис и <a href="">заказать регулярную доставку</a> воды - значит, позаботиться о здоровье и комфорте своих сотрудников и посетителей. У нас Вы можете оформить доставку воды в офис и на предприятие, а также выбрать напольный или настольный кулер для воды в офис с различными функциями, оформить аренду кулера.</p>
                <p>Бочковая - чистая вода для питья и приготовления пищи. Доставка воды на дом позволяет сэкономить массу сил и времени, обеспечить свой быт <a href="">экологически чистой водой</a>. К Вашим услугам - доставка воды на дом и в любое удобное для Вас время и место. </p>
            </div>
        </div>
    </div>

{% endblock %}